<events>
	<event month="January" day="9" year="2011" location="11075 Godfrey Drive" time="7:00 PM">Board Meeting</event>
	<event month="January" day="11" year="2011" location="Noblesville Public Library" time="6:00 PM">Joint Pool Meeting</event>
	<event month="January" day="15" year="2011" location="" time="">Annual Dues Deadline</event>
	<event month="February" day="6" year="2011" location="Noblesville Public Library" time="1:30 PM">Annual Meeting &amp; Crime Watch Meeting</event>
	<event month="March" day="6" year="2011" location="11075 Godfrey Drive" time="7:00 PM">Board Meeting</event>
	<event month="March" day="27" year="2011" location="11075 Godfrey Drive" time="3:00 PM">Block Captains Meeting</event>
	<event month="April" day="3" year="2011" location="11075 Godfrey Drive" time="7:00 PM">Board Meeting</event>
	<event month="April" day="30" year="2011" location="" time="9:00 AM">Community Day</event>
	<event month="May" day="15" year="2011" location="11075 Godfrey Drive" time="7:00 PM">Board Meeting</event>
	<event month="May" day="28" year="2011" location="" time="">Pool Opening Day!</event>
	<event month="June" day="10" year="2011" location="" time="">Community Garage Sale</event>
	<event month="June" day="11" year="2011" location="" time="">Community Garage Sale</event>
	<event month="August" day="7" year="2011" location="19511 Colvic Court" time="7:00 PM">Board Meeting</event>
	<event month="September" day="18" year="2011" location="19511 Colvic Court" time="7:00 PM">Board Meeting</event>
	<event month="October" day="13" year="2011" location="19229 Searay Drive" time="7:00 PM">Board Meeting</event>
	<event month="November" day="6" year="2011" location="19511 Colvic Court" time="7:00 PM">Board Meeting</event>
	<event month="December" day="11" year="2011" location="19511 Colvic Court" time="7:00 PM">Board Meeting</event>
	<event month="January" day="12" year="2012" location="19229 Searay Drive" time="7:00 PM">Board Meeting</event>
	<event month="February" day="12" year="2012" location="Noblesville Library" time="2:00 PM">Annual Meeting</event>
	<event month="March" day="4" year="2012" location="19229 Searay Drive" time="7:00 PM">Board Meeting</event>
	<event month="April" day="1" year="2012" location="19229 Searay Drive" time="7:00 PM">Board Meeting</event>
	<event month="May" day="6" year="2012" location="19229 Searay Drive" time="7:00 PM">Board Meeting</event>
	<event month="August" day="12" year="2012" location="19229 Searay Drive" time="7:00 PM">Board Meeting</event>
	<event month="September" day="9" year="2012" location="19229 Searay Drive" time="7:00 PM">Board Meeting</event>
	<event month="October" day="14" year="2012" location="19229 Searay Drive" time="7:00 PM">Board Meeting</event>
	<event month="November" day="11" year="2012" location="19229 Searay Drive" time="7:00 PM">Board Meeting</event>
	<event month="December" day="9" year="2012" location="19229 Searay Drive" time="7:00 PM">Board Meeting</event>
</events>